@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");
html {
  position: relative;
  overflow-x: hidden !important;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.background {
    background: url(../assets/images/pexels-photo-1882979.jpeg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .1s ease;
}
.background:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
    background: linear-gradient(90deg, rgba(7,7,79,0.7682423311121324) 13%, rgba(226,144,122,0.8914916308320203) 100%);
  opacity: 0.9;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
.title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all .3s;
  left: -30px;
}
.item-bg.active {
  left: 0;
  top: 0;
  opacity: 1;
}

.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}
@media screen and (max-width: 1400px) {
  .title {
    font-size: 50px;
  }
  .news-slider {
    max-width: 1000px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1350px) {
  .title {
    padding-top: 55px;
  }
  .news-slider {
    padding-top: 30px;
  }
}

@media screen and (max-width: 900px) {
  .title {
      font-size: 45px;
      padding-top: 58px;
  }
}

@media screen and (max-width: 750px) {
  .title {
      font-size: 40px;
      padding-top: 61px;
  }
}

@media screen and (max-width: 660px) {
     .title {
      font-size: 35px;
         padding-top: 64px;
    }
}

@media screen and (max-width: 590px) {
  .title {
    font-size: 29px;
      padding-top: 67px;
    }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 24px;
      padding-top: 70px;
    }
}

@media screen and (max-width: 440px) {
    .title {
        font-size: 20px;
        padding-top: 73px;
    }
  .news-slider{
      padding-top: 50px;
    }
}

.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.news-slider__item {
  width: 400px;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 340px;
  }
}
.news-slider__item.swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
}
.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}
.news-slider__ctr {
  position: relative;
  z-index: 12;
}
.news-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}
.news-slider__arrow:focus {
  outline: none !important;
}
.news-slider__arrow .icon-font {
  display: inline-flex;
}
.news-slider__arrow.news-slider-prev {
  left: 15px;
  transform: translateY(-50%);
}
.news-slider__arrow.news-slider-next {
  right: 15px;
  transform: translateY(-50%);
}
.news-slider__pagination {
  text-align: center;
  margin-top: 5px;
}
.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #fff;
  opacity: .2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity .5s, background-color .5s, width .5s;
  transition-delay: .5s, .5s, 0s;
}
.news-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
  width: 100px;
  transition-delay: 0s;
}
@media screen and (max-width: 576px) {
  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }
}
.news__item {
  padding:  10px 40px;
  color: #fff;
  border-radius: 10px;
  display: block;
  transition: all .3s;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #222222;
    transition-delay: .1s;
  }
  .news__item:hover .news-date, .news__item:hover .news__title, .news__item:hover .news__txt {
    opacity: 1;
    transition-delay: .1s;
  }
  .news__item:hover .news__img {
    box-shadow: none;
  }
}
.news__item.active {
  color: #222222;
}
.news__item.active .news-date, .news__item.active .news__title, .news__item.active .news__txt {
  opacity: 1;
}
.news__item.active .news__img {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .news__item {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 576px) {
  .news__item {
    padding: 20px;
  }
}
.news-date {
  
  margin-bottom: 5px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: .7;
  transition: opacity .3s;
}
@media screen and (max-width: 576px) {
  .news-date {
    margin-bottom: 5px;
    display: inline-flex;                           
    align-items: center;
    
  }
}
.news-date__title {
  display: block;
  font-size: 32px;
  
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-right: 5px;
  }
}
.news-date__txt {
  font-size: 16px;
}
.news__title {
  font-size: 25px;
  font-weight: 500;
  opacity: .7;
  
  margin-bottom: 5px;
  transition: opacity .3s;
}
@media screen and (max-width: 576px) {
  .news__title {
    font-size: 22px;
    margin-bottom: 5px;
  }
}
.news__txt {
    height: 140px;
  margin: 5px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: .7;
  transition: opacity .3s;
}
.news__img {
    position: relative;
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin-top: 5px;
  width: 100%;
  transition: all .3s;
  transform-origin: 0% 0%;
  background: rgba(0, 0, 0, 1);
}
@media screen and (max-width: 576px) {
  .news__img {
    height: 180px;
    margin-top: 5px;
  }
}
.news__ph {
    max-width: 100%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .3s linear;
  }
  
  
/*   .news__item:hover .news__ph {
    opacity: 0.6;
  }
  .news__item:hover .choose__btn {
    opacity: 1;
} */
  .news__img:hover .news__ph {
      opacity: 0.6;
  }
  .news__img:hover .choose__btn {
      opacity: 1;
  }
  
  
  
  .choose__btn {
      position: absolute;
      bottom: 30%;
      left: 50%;
      z-index: 10000;
      transform: translate3d(-50%,-30%, 0);
      
      display: inline-block;
      border: none;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 10px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      width: 100px;
      height: 30px;
      padding-top: 10px;
  
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
  
      opacity: 0;
      
      transition: all .2s linear;
  }

  .choose__btn:hover {
      color: #000;
      background-color: #fff;
  }

  /* COUNTER */


.counter__item {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	
  
	display: inline-block;
	background: linear-gradient(#ccc, #fff);
	width: 200px;
	height: 50px;
	border: 4px solid #F0B965;
	border-radius: 50px;
	cursor: pointer;
	padding-top: 10px;
  
  
	text-align: center;
	font-size: 30px;
	font-weight: 700;
  
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 3px 4px 9px #00000075;
	box-shadow: 20px #000000;
  
  
  
  }
  
  .counter__item:hover {
  
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 3px 4px 15px #00000175;
	box-shadow: 20px #00000175;
  
  }
  
  
  .fas {
	color: #ffc000;
	padding-right: 5px;
  }


  /* MODAL YOU LOOSE */

.wdw {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;

  width: 100%;
  height: 100%;

  display: none;
  
 
}

.wdw__inner {
  
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;

  border: 3px solid #f79079;
  color: #2a0101;
  background-color: #fff;
  font-family: 'Didact Gothic', sans-serif;

  
  margin: 0 auto;
  width: 860px;
}

.wdw__img {
  margin: 1px auto 30px;
  width: 262px;
  max-width: 100%;
  height: auto;

}

.wdw__title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;

  margin-bottom: 20px;
}

.wdw__text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;

  margin-bottom: 40px;
}

.wdw__link {
  margin: 0 auto  40px;
  


  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
   transition: all ease 0.3s;
   -webkit-box-shadow: 2px 2px 5px #00000040;
   box-shadow: 2px 2px 5px #00000040;
}

.wdw__link:hover {
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
   transform: scale(1.03);
}


.wdw__link:hover .wdw__btn {
  background-color: #370101;
color: #fff;
}



.wdw__btn {
  border: none;
  background-color: #f79079;
  width: 350px;
  height: 75px;

  color: #2a0101;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;

  cursor: pointer;


  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
   transition: all ease 0.3s;

}


/* MODAL YOU LOSE ADAPTIVKA */
.page {
  transition: all .1s ease;
}

@media(max-width:1600px) {
  .wdw__inner {
      width: 800px;
  }
  .wdw__title {
      font-size: 36px;
  }
  .wdw__text {
      font-size: 22px;
  }
}

@media(max-width:1600px) {
  .wdw__inner {
      width: 800px;
  }
  .wdw__title {
      font-size: 34px;
  }
  .wdw__text {
      font-size: 20px;
  }
}


@media(max-width:900px) {
  .wdw__inner {
      width: 600px;
  }
  .wdw__img {
      margin: 1px auto 15px;
  }
  .wdw__title {
      font-size: 32px;
      margin-bottom: 15px;
  }
  .wdw__text {
      font-size: 18px;
      margin-bottom: 20px;
  }
  .wdw__img {

      width: 220px;
  }
  .wdw__link {
      margin: 0 auto 20px;
  }
  .wdw__btn {
      width: 300px;
      height: 60px;
      font-size: 26px;
  }
}

@media(max-width:700px) {
  .wdw__inner {
      width: 500px;
  }
  .wdw__img {
      margin: 1px auto 10px;
  }
  .wdw__title {
      font-size: 28px;
      margin-bottom: 10px;
  }
  .wdw__text {
      font-size: 16px;
      margin-bottom: 15px;
  }
  .wdw__img {

      width: 190px;
  }
  .wdw__link {
      margin: 0 auto 15px;
  }
}

@media(max-width:575px) {
  .wdw__inner {
      width: 350px;
  }
  .wdw__img {
      margin: 1px auto 5px;
  }
  .wdw__title {
      font-size: 23px;
      margin-bottom: 5px;
  }
  .wdw__text {
      font-size: 13px;
      margin-bottom: 10px;
  }
  .wdw__img {

      width: 150px;
  }
  .wdw__link {
      margin: 0 auto 10px;
  }
  .wdw__btn {
      width: 260px;
      height: 40px;
      font-size: 22px;
  }
}

@media(max-width:400px) {
  .wdw__inner {
      width: 300px;
  }
  .wdw__img {

      width: 140px;
  }
  .wdw__text {
      font-size: 11px;
  }

  .wdw__btn {
      width: 235px;
      height: 35px;
      font-size: 20px;
  }
}