@font-face {
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  
  }
  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    font-size: 62.5%;
    height: 100%;
    overflow-y: hidden;
  }
  
  body {
    background: #000;
  }
  
  svg {
    display: block;
    overflow: visible;
  }
  
  .slider-container {
    position: relative;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
  }
  .slider-control.inactive:hover {
    cursor: auto;
  }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }
  .slider-control.left {
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .slider-control.right {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.18)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  }
  
  .slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 15rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
  }
  .slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    margin: 0 0.3rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  
  .slider {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider.animating {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
  }
  .slider.animating .slide__bg {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide.active .slide__overlay,
  .slide.active .slide__text {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
  }
  .slide__text-heading {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
 
  .slide__text-desc {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .buttonB{
    width: 140px;
    height: 55px;
    position: absolute;
    bottom: -44%;
    left: 60px;
    font-size: 18px;
    z-index: 20000;
    background-color: #f19883;
    border: 3px #f19883;
    cursor: pointer;
    display: inline-block;
    
    
    -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 2px 2px 5px #00000040;
  box-shadow: 2px 2px 5px #00000040;

  }

  .button-1:hover {
    background-color: #370101;
    color: #fff;
  }

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0 3px 3px 0;
}


  .slide:nth-child(1) {
    left: 0;
  }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("img/z1.jpg");
  }
  .slide:nth-child(1) .slide__overlay-path {
    fill: #e99c7e;
  }
  @media (max-width: 1100px) {
    .slide:nth-child(1) .slide__text {
      background-color: #e99c7e;
      opacity: 85%;
    }
  }
  .slide:nth-child(2) {
    left: 100%;
  }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("img/z2.jpg");
  }
  .slide:nth-child(2) .slide__overlay-path {
    fill: #aa8b6e;
  }
  @media (max-width: 1100px) {
    .slide:nth-child(2) .slide__text {
      background-color: #aa8b6e;
      opacity: 85%;
    }
  }
  .slide:nth-child(3) {
    left: 200%;
  }
  .slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("img/z3.jpg");
  }
  .slide:nth-child(3) .slide__overlay-path {
    fill: #9eb69a;
  }
  @media (max-width: 1100px) {
    .slide:nth-child(3) .slide__text {
      background-color: #9eb69a;
      opacity: 85%;
    }
  }
  .slide:nth-child(4) {
    left: 300%;
  }
  .slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("img/z4.jpg");
  }
  .slide:nth-child(4) .slide__overlay-path {
    fill: #b7b37b;
  }
  @media (max-width: 1100px) {
    .slide:nth-child(4) .slide__text {
      background-color: #b7b37b;
      opacity: 85%;
    }
  }

  .slide:nth-child(5) {
    left: 400%;
  }
  .slide:nth-child(5) .slide__bg {
    left: -200%;
    background-image: url("img/z5.jpg");
  }
  .slide:nth-child(5) .slide__overlay-path {
    fill: #a0aea0;
  }
  @media (max-width: 1100px) {
    .slide:nth-child(5) .slide__text {
      background-color: #a0aea0;
      opacity: 85%;
    }
  }


  .slide:nth-child(6) {
    left: 500%;
  }
  .slide:nth-child(6) .slide__bg {
    left: -250%;
    background-image: url("img/z6.jpg");
  }
  .slide:nth-child(6) .slide__overlay-path {
    fill: #c1786c;
  }

  @media (max-width: 1100px) {
    .slide:nth-child(6) .slide__text {
      background-color: #c1786c;
      opacity: 85%;
    }
  }

  .slide:nth-child(7) {
    left: 600%;
  }
  .slide:nth-child(7) .slide__bg {
    left: -300%;
    background-image: url("img/z7.jpg");
  }
  .slide:nth-child(7) .slide__overlay-path {
    fill: #93b3bd;
  }

  @media (max-width: 1100px) {
    .slide:nth-child(7) .slide__text {
      background-color: #93b3bd;
      opacity: 85%;
    }
  }

  .slide:nth-child(8) {
    left: 700%;
  }
  .slide:nth-child(8) .slide__bg {
    left: -350%;
    background-image: url("img/z8.jpg");
  }
  .slide:nth-child(8) .slide__overlay-path {
    fill: #e99c7e;
  }

  @media (max-width: 1100px) {
    .slide:nth-child(8) .slide__text {
      background-color: #e99c7e;
      opacity: 85%;
    }
  }
  .slide:nth-child(9) {
    left: 800%;
  }
  .slide:nth-child(9) .slide__bg {
    left: -400%;
    background-image: url("img/z9.jpg");
  }
  .slide:nth-child(9) .slide__overlay-path {
    fill: #8aacb8;
  }

  @media (max-width: 1100px) {
    .slide:nth-child(9) .slide__text {
      background-color: #8aacb8;
      opacity: 85%;
    }
    .buttonB{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    will-change: transform, opacity;
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  @media (max-width: 1100px) {
    .slide__overlay {
      display: none;
    }
  }
  .slide__overlay path {
    opacity: 0.8;
  }
  .slide__text {
    position: absolute;
    width: 340px;
    top: 40%;
    left: 90px;
    color: #fff;
    -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    will-change: transform, opacity;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  @media (max-width: 1100px) {
    .slide__text {
      left: 0;
      top:20px;
      width: 100%;
      height: 20rem;
      text-align: center;
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
      transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
      padding: 0 1rem;
    }
  }
 

  @media(max-width:700px){
    .slide__text-heading {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
    }
   
    .slide__text-desc {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    .buttonB{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    
  }
  @media(max-width:500px){
    .slide__text-heading {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
   
    .slide__text-desc {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    .buttonB{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }


  }
  @media(max-width:400px){
    .slide__text-heading {
      font-size: 2.8rem;
      margin-bottom: 1rem;
    }
   
    .slide__text-desc {
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
    .buttonB{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  @media(max-width:300px){
    .slide__text-heading {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
   
    .slide__text-desc {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .buttonB{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  @media(min-height:1000px){
    .slider-pagi {
      top:65rem;
    }
  }

  
  .slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2.3rem;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

.next{
  right: 3%;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 3%;
  border-radius: 3px 0 0 3px;
}


