
h1, h2, h3, h4, h4, h6, p {
    margin: 0;
}


body{
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    color: #370101;
    overflow-y: hidden;

}


.card-block {
    perspective: 550px;
}

.card {
    position: relative;
    transition: all .5s ease;
    transform-style: preserve-3d;

}


.slide{
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top: 6px solid #370101;
    border-bottom: 6px solid #370101;
    border-left: 6px solid #370101;
    border-right: 6px solid #370101;
    width: 95vw;

    -webkit-box-shadow: 3px 4px 20px #00000075;
    box-shadow: 3px 4px 20px #00000075;
    backface-visibility: hidden;
    height: 70vh;





}

.back {
    position: relative;
    display: flex;

}

.front {
    margin-top: 90px;
    margin-right: 0;
    margin-left: 0;
position: absolute;
top: 0;
right: 10px;


transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.leftpart {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;

}

.rightpart { 
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    float: right;
}


.logo{
    margin-top: 20px;
}
.name{

    font-size: 24px;
}
.firp{
    padding-right: 15px;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.secp{
    padding-right: 15px;
    padding-left: 5px;
    margin-top: 6px;
    margin-bottom: 0;
}
.qr {
    display: block;
    max-width: 11vw;

    height: auto;
    float: right;
    padding-bottom: 30vh;
}

.sait{
    position: absolute;
    bottom: 3%;
    font-size: 18px;

}
.inf{
    position: absolute;
    bottom: 3%;
    margin-left: 105px;
    font-size: 16px;
}
.kontr{
    position: absolute;
    left: 1vh;
    bottom: 1vw;
    width: 85vw;
    font-size: 50px;

    border: 10px solid #370101;
    text-align: left;

}
.kkk{
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    padding: 0;

}


.vov__img {
    display: block;
    width: 100%;
    background: url(../img/фото.png) center no-repeat;
    background-size: cover;
    height: 65%;
    margin-top: -15px;
    padding-bottom: 80px;
}


.data__pos {
    display: flex;
    
}
.front__pies {
    font-size: 32px;
}


.allNums {
    display: flex;
}


.fline{
    font-size: 27px;
    margin-right: 5px;
    margin-top: 15px;
}
.tb{

    margin-bottom: 0;
}
.ty{

    margin-top: 0;
    margin-bottom: 0;
}
.tbb{

    margin-top: 0;
}
.da{
    float: left;

    margin-bottom: 0;

    margin-right: 110px;
}
.ta{
    font-size: 43px;

    margin-bottom: 0;
    font-weight: 600;
}

.stoimost {
    display: flex;
    justify-content: space-between;
}

.stoim{
    float: left;

    margin-top: 18px;
    margin-bottom: 0;

}
.money{
    font-size: 43px;
    margin-top: 10px;
    margin-bottom: 0;

    font-weight: 600;
}
.num{

    float: left;
    font-weight: 600;

}
.data{
 
    float: left;
    margin-left: 150px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}
.time{

    margin-bottom: 0;
    margin-top: 10px;
}
.alllays {
    display: flex; 
    justify-content: space-between;
}
.la1{
    float: left;

    margin-right: 30px;

}
.la2{
    float: left;

    margin-right: 50px;

}
.la3{
    float: left;

    font-weight: 600;
    margin-right: 150px;

}
.la4{
    float: left;

    font-weight: 600;
    margin-right: 80px;

}
.la5{

    font-weight: 600;

}

.shtrixkod{
    display: block;
    max-width: 60%;
    height: auto;
    padding-left: 20px;
    padding-right: 80px;
}
.button{
    display: inline-block;
    font-size: 38px;
    padding: 5px 90px 5px 90px;
    background-color: #f09882;
    color: #370101;
    border-radius: 5px;
    text-decoration: none;
    -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 3px 4px 9px #00000075;

    -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 2px 2px 5px #00000040;
  box-shadow: 2px 2px 5px #00000040;
}
.button:hover{
    background-color: #370101;
    color: #fff;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.next {
    position: absolute;
    
}
.nextim{
    transform: rotate(-90deg);

}
.prev {
    position: absolute;

}
.previm{
    transform: rotate(-90deg);

}
.next,
.prev {
    cursor: pointer;
    bottom: 5px;
    right: 5px;
}


.parts {
    display: flex;
    justify-content: space-between;
}
.lpart {
    width: 85%;
}

.rpart {
    width: 15%;

    
}



/* MOBILE MAKET =======================================================================================*/
.mobile {

    height: calc(100vh - 40px);
}
.bold_M{
    font-weight: bold;
}
/* backside */
.back__m {
    display: none;
    width: 100vw;
    position: relative;
}
.container__mob {
    width: 72%;
    margin: 0 auto;
}


.head__inerM {
    display: flex;
}
.logo__mob {
    display: block;
    max-width: 40%;
    height: auto;
    padding-bottom: 33px;
}
.title__mob {
    font-size: 1.8vh;
    font-weight: normal;
}
.title__mob::first-letter{
font-weight: bold;
}

.content__mob {
    margin-top: 5px;
    border: 4px solid #370101;
    overflow-x: hidden;

}

.vov__phM {
    display: block;
    width: 100vw;
    height: 35.5vh;
    background: url(../img/фото.png) center no-repeat;
    background-size: cover;
    margin-bottom: .2vh;
    overflow: hidden;
}

.footerM__inner {
    display: flex;
}

.col1 {
    width: 23%;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5.4vh;
    padding-left: 10vw;
    margin-right: -3vw;
}

.col2 {
    width: 77%;
    display: flex;
    flex-direction: column;
}

.qrM {
    height: 8vh;
    width: 8vh;
    float: right;
}
.contentM {
    font-size: 2vh;
}

.linkM {
    margin-top: 5px;
    font-size: 2vh;
    text-align: center;
    margin-bottom: 20vh;
    

}
.nextM {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 4px;
    width: 30px;
    height: 30px;
}

/* frontside */
.front__m {
    border: 4px solid #370101;
    display: none;
}
.mobile {
    width: 100vw;
}
.bold_M{
    font-weight: bold;
}

.container__backM {
    width: 89%;
    margin: 0 auto;
}

.nomerzaKaza {
    display: flex;
    justify-content: space-between;
    
}
.nz1 {
    padding-right: 30vw;
}

.nz2 {
    padding: 2.3vh 0 10.7vh;
}

.container__backM div {
    font-size: 1.6vh;
}

.vivbiletM {
    padding-top: 4vh;
}
.vhBilet {
    padding: 5.2vh 0 5.3vh;
}
.stUslugiM {
    padding: 2.5vh 0 5.3vh;
}
.veryBold {
    padding-left: 7.4vw;
    font-size: 2.5vh;
}
.veryBold2 {
    padding-left: 10vw;
}
.linkdivM {
    text-align: center;
    margin-bottom: 5vh;
}
.link2M {
    padding: 2.6vh 20vw;
    

    font-size: 2.5vh;
    
    border: none;
    text-align: center;
    background-color: #f09882;
    color: #370101;
    border-radius: 5px;
    text-decoration: none;
    -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 3px 4px 9px #00000075;

    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-box-shadow: 2px 2px 5px #00000040;
    box-shadow: 2px 2px 5px #00000040;
}
.linkM2M:hover{
    background-color: #370101;
    color: #fff;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.shtrihRevM {
    margin: 0 auto;
    margin-bottom: 6vh;
}

.shtrihRevM img {
    display: block;
    margin: 0 auto;
    max-width: 45vw;
    height: auto;
    float: initial;
}

.front__m .nextM {
    bottom: 60px;
    right: -15px;
}




/* COUNTER */


.counter__item {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	
  
	display: inline-block;
	background: linear-gradient(#ccc, #fff);
	width: 208px;
	height: 50px;
	border: 4px solid #F0B965;
	border-radius: 50px;
	cursor: pointer;
	padding-top: 10px;
  
  
	text-align: center;
	font-size: 30px;
	font-weight: 700;
  
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 3px 4px 9px #00000075;
	box-shadow: 20px #000000;
  
  
  
  }
  
  .counter__item:hover {
  
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 3px 4px 15px #00000175;
	box-shadow: 20px #00000175;
  
  }
  
  
  .fas {
	color: #ffc000;
	padding-right: 5px;
  }


/* MODAL YOU LOOSE */

.wdw {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;

    width: 100%;
    height: 100%;

    display: none;
    
   
}

.wdw__inner {
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;

    border: 3px solid #f79079;
    color: #2a0101;
    background-color: #fff;
    font-family: 'Didact Gothic', sans-serif;

    
    margin: 0 auto;
    width: 860px;
}

.wdw__img {
    margin: 1px auto 30px;
    width: 262px;
    max-width: 100%;
    height: auto;

}

.wdw__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;

    margin-bottom: 20px;
}

.wdw__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 40px;
}

.wdw__link {
    margin: 0 auto  40px;
    


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;
     -webkit-box-shadow: 2px 2px 5px #00000040;
     box-shadow: 2px 2px 5px #00000040;
}

.wdw__link:hover {
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
     transform: scale(1.03);
}


.wdw__link:hover .wdw__btn {
    background-color: #370101;
	color: #fff;
}



.wdw__btn {
    border: none;
    background-color: #f79079;
    width: 350px;
    height: 75px;

    color: #2a0101;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;

    cursor: pointer;


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;

}

/* MODAL YOU LOSE ADAPTIVKA */
.page {
    transition: all .1s ease;
}

@media(max-width:1600px) {
    .wdw__inner {
        width: 800px;
    }
    .wdw__title {
        font-size: 36px;
    }
    .wdw__text {
        font-size: 22px;
    }

}

@media(max-width:1600px) {
    .wdw__inner {
        width: 800px;
    }
    .wdw__title {
        font-size: 34px;
    }
    .wdw__text {
        font-size: 20px;
    }
}


@media(max-width:900px) {
    .wdw__inner {
        width: 600px;
    }
    .wdw__img {
        margin: 1px auto 15px;
    }
    .wdw__title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .wdw__text {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .wdw__img {

        width: 220px;
    }
    .wdw__link {
        margin: 0 auto 20px;
    }
    .wdw__btn {
        width: 300px;
        height: 60px;
        font-size: 26px;
    }
}

@media(max-width:700px) {
    .wdw__inner {
        width: 500px;
    }
    .wdw__img {
        margin: 1px auto 10px;
    }
    .wdw__title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .wdw__text {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .wdw__img {

        width: 190px;
    }
    .wdw__link {
        margin: 0 auto 15px;
    }
}

@media(max-width:575px) {
    .wdw__inner {
        width: 350px;
    }
    .wdw__img {
        margin: 1px auto 5px;
    }
    .wdw__title {
        font-size: 23px;
        margin-bottom: 5px;
    }
    .wdw__text {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .wdw__img {

        width: 150px;
    }
    .wdw__link {
        margin: 0 auto 10px;
    }
    .wdw__btn {
        width: 260px;
        height: 40px;
        font-size: 22px;
    }
}

@media(max-width:400px) {
    .wdw__inner {
        width: 300px;
    }
    .wdw__img {

        width: 140px;
    }
    .wdw__text {
        font-size: 11px;
    }

    .wdw__btn {
        width: 235px;
        height: 35px;
        font-size: 20px;
    }
}






/* ОСНОВНАЯ АДАПТИВКА =======================================================================================================*/

@media(max-width: 1600px) {
    .name {
        font-size: 22px;
    }
    .kontr {
        font-size: 50px;
    }
    .fline {
        margin-top: 35px;
    }

}


@media(max-width: 1400px){
    .name {
        font-size: 18px;
    }
    .kontr {
        font-size: 55px;
    }
    .back__footer {
        font-size: 16px;
     }
     .front__pies {
        font-size: 28px;
    }
    .fline {
        margin-top: 5px;
    }
}
@media(max-width: 1300px){
    .name {
        font-size: 16px;

    }
    .kontr {
        font-size: 57px;
    }

    .leftpart{
        width: 45%;
    }
     .rightpart {
         width: 55%;
     }

     .back__footer {
        font-size: 14px;
     }

     .qr {
         padding-top: 20px;
     }


     .front__pies {
        font-size: 24px;
    }

    .button {
        font-size: 30px;
        padding: 10px 50px 0 50px;
    }
    .fline {
        margin-top: 0;
    }

}


@media(max-width: 1050px) {

    .name {
        font-size: 14px;

    }

    .back__footer {
        font-size: 12px;
     }

     .button {
        font-size: 26px;
    }
    .front__pies {
        font-size: 22px;
    }
}

@media(max-width: 970px) {
    .kontr {
        font-size: 52px;
    }
    .button {
        font-size: 24px;
        padding: 15px 40px 0 40px;
    }


}



@media(max-width: 800px) {
    .desktop{
        display: none;
    }
    .leftpart, .rightpart, .next, .kontr {
        display: none;
    }

    .slide {
        border: none;
        height: 100vh;
        margin: 60px 0 0 0;
        padding: 0;
        
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .front__m, .back__m {
        display: block;
    }
    .counter__item {
        width: 150px;
        height: 30px;
        font-size: 19px;
    }
    .front {
        margin: 0;
        right: 0;

    }
    .nextM {
        width: 50px;
        height: 50px;
    }
    .front__m .nextM {
        bottom: 60px;
        right: -39px;
    }
}

@media(max-width: 600px) {
    .front__m .nextM {
        bottom: 60px;
        right: -15px;
    }
    .nextM {
        width: 40px;
        height: 40px;
    }
    .logo__mob {
        padding-bottom: 55px;
    }
}

@media(height: 1366px) {
    .desktop{
        display: none;
    }
    .leftpart, .rightpart, .next, .kontr {
        display: none;
    }

    .slide {
        border: none;
        height: 100vh;
        margin: 60px 0 0 0;
        padding: 0;
        
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .front__m, .back__m {
        display: block;
    }
    .counter__item {
        width: 150px;
        height: 30px;
        font-size: 19px;
    }
    .front {
        margin: 0;
        right: 0;

    }
    .nextM {
        width: 50px;
        height: 50px;
    }
    .front__m .nextM {
        bottom: 60px;
        right: -39px;
    }
}


