body{
	font-family: 'Didact Gothic', sans-serif;
	background-color: #ebe4e2;
}

	.headertext{
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		color: #370101;
	}


	.container{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

	}

	.container .container-item{
		margin: 0 auto;
		padding: 1%;
        max-width: 390px;
        height: 530px;
        
	}


	.container-item {
		


		-webkit-transition: all 0.3s ease-in-out;
  		-o-transition: all 0.3s ease-in-out;
 		 transition: all 0.3s ease-in-out;
  		-webkit-box-shadow: 3px 4px 9px #00000075;
  		box-shadow: 3px 4px 9px #00000075;
	}

	.container-item:hover {
		-webkit-transform: scale(1.03);
  		-ms-transform: scale(1.03);
 		 transform: scale(1.03);
  		-webkit-box-shadow: 3px 4px 15px #00000175;
 		 box-shadow: 3px 4px 15px #00000175;
	}

	.nazvnomera{
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}

	.n1{
		width: 100%;
	}

	.razmer{
		font-size: 15px;
		font-weight: bold;
		margin-left: 5%;
	}

	.text{
		font-size: 15px;
	}

	.footer{
		display: flex;
		justify-content: space-between;
		margin-top: 10%;		
	}


	.cost{
		font-size: 35px;
		font-weight: bold;
	}

	.buttonB{
	width: 140px;
    height: 55px;
    font-size: 15px;
    background-color: #f19883;
    border: 3px #f19883;
    cursor: pointer;
	display: inline-block;
	
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
	-webkit-box-shadow: 2px 2px 5px #00000040;
	box-shadow: 2px 2px 5px #00000040;

	}

	.buttonB:hover {
    background-color: #370101;
	color: #fff;
	
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
   }

/* COUNTER */


.counter__item {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	
  
	display: inline-block;
	background: linear-gradient(#ccc, #fff);
	width: 200px;
	height: 50px;
	border: 4px solid #F0B965;
	border-radius: 50px;
	cursor: pointer;
	padding-top: 10px;
  
  
	text-align: center;
	font-size: 30px;
	font-weight: 700;
  
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 3px 4px 9px #00000075;
	box-shadow: 20px #000000;
  
  
  
  }
  
  .counter__item:hover {
  
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 3px 4px 15px #00000175;
	box-shadow: 20px #00000175;
  
  }
  
  
  .fas {
	color: #ffc000;
	padding-right: 5px;
  }



/* MODAL YOU LOOSE */

.wdw {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);

    width: 100%;
    height: 100%;

    display: none;
    
   
}

.wdw__inner {
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;

    border: 3px solid #f79079;
    color: #2a0101;
    background-color: #fff;
    font-family: 'Didact Gothic', sans-serif;

    
    margin: 0 auto;
    width: 860px;
}

.wdw__img {
    margin: 1px auto 30px;
    width: 262px;
    max-width: 100%;
    height: auto;

}

.wdw__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;

    margin-bottom: 20px;
}

.wdw__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 40px;
}

.wdw__link {
    margin: 0 auto  40px;
    


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;
     -webkit-box-shadow: 2px 2px 5px #00000040;
     box-shadow: 2px 2px 5px #00000040;
}

.wdw__link:hover {
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
     transform: scale(1.03);
}


.wdw__link:hover .wdw__btn {
    background-color: #370101;
	color: #fff;
}



.wdw__btn {
    border: none;
    background-color: #f79079;
    width: 350px;
    height: 75px;

    color: #2a0101;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;

    cursor: pointer;


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;

}

@media(max-width: 992px){
    .counter__item{
    width: 150px;
    height: 50px;
    font-size: 25px;
    padding-top: 7px;
  }
  .headertext{
    font-size: 30px;
  }
}



@media(max-width:770px){
    .headertext{
        font-size: 25px;
    }
    
    .wdw{
        
        max-height: 100%;
        max-width: 100%;
    }
    
    .wdw__img{
        max-height: 170px;
        max-width: 220px;
    }
    .wdw__title{
        font-size: 23px;
    }
    .wdw__text{
        font-size: 18px;
    }
    .wdw__btn{
        max-width: 270px;
        max-height: 65px;
        font-size: 20px;
        text-align: center;
    }

    .counter__item{
        max-width: 120px; 
        height: 40px;
    }
}

@media(max-width: 320px){
    .counter__item{
    width: 120px;
    height: 40px;
    font-size: 25px;
    padding-top: 7px;
  }
  .headertext{
    font-size: 25px;
  }
}
