*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
}

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    max-width: 100%;
    max-width: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url(img/Слой_8.png);
    border-image-width: auto;
    
}
.header_tittle{
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #370101;
}

.name{
    width: 100%;
    margin: 0;
    color: #080707;
    font-size: 200%;
    text-align: center;
}

.parent_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box1, .box2, .box3{
    background-color: #fae1e5;
    margin-bottom: 10px;
    height: 300px;
    flex-basis: 400px;
    display: flex;
    justify-self: center;
    position: relative;



    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 3px 4px 9px #00000075;
}


.box1:hover, .box2:hover, .box3:hover{
     
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 3px 4px 15px #00000175;
    box-shadow: 3px 4px 15px #00000175; 
} 

.text{
    display: inline-block;
    position: relative;
    height: 83%;
    top: 17%;
    left: 30%;
    text-align: center;
    z-index: 2;
    font-weight: bold;
    font-size: 100%;
}

.bill{
    position: absolute;
    margin: 0;
    margin-left: 25%;
}

.button{
    position: absolute;
    z-index: 1000;
    margin-top: 60%;
    bottom: 4%;
    margin-left: 69.7%;

    width: 28%;
    height: 15%;

    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: center;
    background-color: #f19883;        
    border-radius: 5%;
    


    -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 2px 2px 5px #00000040;
  box-shadow: 2px 2px 5px #00000040;
}

.button_text{
    position: absolute;
    /*margin: 10%  15%;*/
    top: 21%;
    left: 20.3%;
}

.button:hover{
    background-color: #370101;
    color: #fff;
    cursor: pointer;


    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);

}

.photo_avocado{
    position: absolute;
    top: 34.5%;
}

.photo_pepper{
    position: absolute;
    /*clip: rect(50px 100px 190px 0px);*/
    margin-left: 70%;
}

.photo_strawberry{
    position: absolute;
    top: 72%;
}

.photo_fig{
    position: absolute;
    clip: rect(Y1, X1, Y2, X2);
    margin-left: 73%;
}

.photo_kiwi{
    position: absolute;
    top: 65%;
}

.photo_cherry{
    position: absolute;
    /*clip: rect(30%, 80%, 70%, 20%);*/
    margin-left: 85%;
}



/* COUNTER */


.counter__item {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    
  
    display: inline-block;
    background: linear-gradient(#ccc, #fff);
    width: 208px;
    height: 68px;
    border: 4px solid #F0B965;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 10px;
  
  
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 20px #000000;
  
  
  
  }
  
  .counter__item:hover {
  
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 3px 4px 15px #00000175;
    box-shadow: 20px #00000175;
  
  }
  
  
  .fas {
    color: #ffc000;
    padding-right: 5px;
  }


  /* MODAL YOU LOOSE */

.wdw {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);

    width: 100%;
    height: 100%;

    display: none;
    
   
}

.wdw__inner {
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;

    border: 3px solid #f79079;
    color: #2a0101;
    background-color: #fff;
    font-family: 'Didact Gothic', sans-serif;

    
    margin: 0 auto;
    width: 860px;
}

.wdw__img {
    margin: 1px auto 30px;
    width: 262px;
    max-width: 100%;
    height: auto;

}

.wdw__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;

    margin-bottom: 20px;
}

.wdw__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 40px;
}

.wdw__link {
    margin: 0 auto  40px;
    


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;
     -webkit-box-shadow: 2px 2px 5px #00000040;
     box-shadow: 2px 2px 5px #00000040;
}

.wdw__link:hover {
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
     transform: scale(1.03);
}


.wdw__link:hover .wdw__btn {
    background-color: #370101;
    color: #fff;
}



.wdw__btn {
    border: none;
    background-color: #f79079;
    width: 350px;
    height: 75px;

    color: #2a0101;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;

    cursor: pointer;


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;

}

@media(max-width:741px) {
    .header_tittle{
        margin-top: 40px;
        margin-bottom: -40px;
        text-align: center;
        font-size: 25px;
    }
}

@media(max-width:425px) {
    .name{
        font-size: 20px;
    }
}

@media(max-width:396px) {
    .header{
    background-size: cover;
    }

    .text{
        width: 300px;
        left: 50px;
    }
    
    .bill{
        left: 40px;
    }

    .bill3{
        left: 5px;
    }

    .button{
        width: 30px
        height: 10px;
        font-size: 16px; 
    }
}

@media(max-width:320px) {
    .button{
    margin-left: 65%;

    width: 100px;
    height: 50px;
    }

    .bill{
        left: 25px;
    }

    .text{
        width: 280px;
        left: 35px;
    }

   .text-3{
        left: 60px;
   }

   .button_text{
        top: 25%;
        left: 18%;
   }

}


/* MODAL YOU LOSE ADAPTIVKA */
.page {
    transition: all .1s ease;
}

@media(max-width:1600px) {
    .wdw__inner {
        width: 800px;
    }
    .wdw__title {
        font-size: 36px;
    }
    .wdw__text {
        font-size: 22px;
    }
}

@media(max-width:1600px) {
    .wdw__inner {
        width: 800px;
    }
    .wdw__title {
        font-size: 34px;
    }
    .wdw__text {
        font-size: 20px;
    }
}


@media(max-width:900px) {
    .wdw__inner {
        width: 600px;
    }
    .wdw__img {
        margin: 1px auto 15px;
    }
    .wdw__title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .wdw__text {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .wdw__img {

        width: 220px;
    }
    .wdw__link {
        margin: 0 auto 20px;
    }
    .wdw__btn {
        width: 300px;
        height: 60px;
        font-size: 26px;
    }
}

@media(max-width:700px) {
    .wdw__inner {
        width: 500px;
    }
    .wdw__img {
        margin: 1px auto 10px;
    }
    .wdw__title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .wdw__text {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .wdw__img {

        width: 190px;
    }
    .wdw__link {
        margin: 0 auto 15px;
    }
}

@media(max-width:575px) {
    .wdw__inner {
        width: 350px;
    }
    .wdw__img {
        margin: 1px auto 5px;
    }
    .wdw__title {
        font-size: 23px;
        margin-bottom: 5px;
    }
    .wdw__text {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .wdw__img {

        width: 150px;
    }
    .wdw__link {
        margin: 0 auto 10px;
    }
    .wdw__btn {
        width: 260px;
        height: 40px;
        font-size: 22px;
    }
}

@media(max-width:400px) {
    .wdw__inner {
        width: 300px;
    }
    .wdw__img {

        width: 140px;
    }
    .wdw__text {
        font-size: 11px;
    }

    .wdw__btn {
        width: 235px;
        height: 35px;
        font-size: 20px;
    }
}