body{
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    color: #370101;
   
}
.page{
    margin: 0;
    padding-top: 110px;
    background-image: url(../img/photo.png);
    background-attachment: fixed;
    background-size: cover;
    transition: all .1s ease;
}
.questions{
    position: center;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 28px;
}
.backTest{
    background-color: #fcf2f0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
     -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 3px 4px 9px #00000075;
    opacity: 90%;
    font-size: 100%;
}
p{
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
}
input{
    margin-left: 40px;
}
label{
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 100%;
}
.btn{
    background-color: #f09882;
    color: #370101;
    border: none;
    font-size: 36px;
    padding: 10px 15px 10px 15px;
    text-align: center;
     -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 3px 4px 9px #00000075;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;

    -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 2px 2px 5px #00000040;
  box-shadow: 2px 2px 5px #00000040;
}
.btn:hover{
    background-color: #370101;
    color: #fff;

    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

center{
    padding:0 20px 30px 20px;
}
.last{
    margin-bottom: 30px;
}



.result {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;

    width: 100%;
    height: 100%;

    display: none;
    
   
}

.result__inner {
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;

    border: 3px solid #f79079;
    color: #2a0101;
    background-color: #fff;
    font-family: 'Didact Gothic', sans-serif;

    
    margin: 0 auto;
    width: 860px;
}

img {
    margin: 1px auto 30px;
    width: 262px;
    max-width: 100%;
    height: auto;

}

.result__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;

    margin-bottom: 20px;
}

.result__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    margin-bottom: 40px;
}

.result__btn {
    border: none;
    background-color: #f79079;
    width: 350px;
    height: 75px;
    text-align: center;
    padding-top: 20px;

    color: #2a0101;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;

}

.result__btn {
    margin: 0 auto  40px;
    


    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
     transition: all ease 0.3s;
     -webkit-box-shadow: 2px 2px 5px #00000040;
     box-shadow: 2px 2px 5px #00000040;
}

.result__btn:hover {
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.82);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
     transform: scale(1.03);
}

/* COUNTER */


.counter__item {
	position: absolute;
	top: 10px;
	right: 12px;
	z-index: 1;
	
  
	display: inline-block;
	background: linear-gradient(#ccc, #fff);
	width: 200px;
	height: 50px;
	border: 4px solid #F0B965;
	border-radius: 50px;
	cursor: pointer;
	padding-top: 10px;
  
  
	text-align: center;
	font-size: 30px;
	font-weight: 700;
  
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 3px 4px 9px #00000075;
	box-shadow: 20px #000000;
  
  
  
  }
  
  .counter__item:hover {
  
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 3px 4px 15px #00000175;
	box-shadow: 20px #00000175;
  
  }
  
  
  .fas {
	color: #ffc000;
	padding-right: 5px;
  }

@media(max-width:1200px){
      .backTest{
          font-size: 90%;
      }
     
      .questions{
          margin-left: 60px;
          margin-right: 60px;
      }
}
  
@media(max-width:900px){
    .backTest{
        font-size: 80%;
    }
   
    .questions{
        margin-left: 45px;
        margin-right: 45px;
    }
}

@media(max-width:700px){
    .backTest{
        font-size: 70%;
    }
   
    .questions{
        margin-left: 35px;
        margin-right: 35px;
    }
   
}

@media(max-width:500px){
    .backTest{
        font-size: 50%;
    }
   
    .questions{
        margin-left: 25px;
        margin-right: 25px;
    }
    
}
@media(max-width:400px){
    .backTest{
        font-size: 40%;
    } 
    .questions{
        margin-left: 20px;
        margin-right: 20px;
    }
   
}
@media(max-width:350px){
    .backTest{
        font-size: 40%;
    } 
    .questions{
        margin-left: 20px;
        margin-right: 20px;
    }
  
}
@media(max-width:300px){
    .backTest{
        font-size: 30%;
    }
    
    .questions{
        margin-left: 15px;
        margin-right: 15px;
    }
  
}





@media(max-width:1600px) {
    .result__inner {
        width: 800px;
    }
    .result__title {
        font-size: 36px;
    }
    .result__text {
        font-size: 22px;
    }

}

@media(max-width:1600px) {
    .result__inner {
        width: 800px;
    }
    .result__title {
        font-size: 34px;
    }
    .result__text {
        font-size: 20px;
    }
}


@media(max-width:900px) {
    .result__inner {
        width: 600px;
    }
     img {
        margin: 1px auto 15px;
    }
    .result__title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .result__text {
        font-size: 18px;
        margin-bottom: 20px;
    }
   img {

        width: 220px;
    }
    
    .result__btn {
        width: 300px;
        height: 60px;
        font-size: 26px;
    }
    .result__btn {
        margin: 0 auto 20px;
    }
}

@media(max-width:700px) {
    .result__inner {
        width: 500px;
    }
    img {
        margin: 1px auto 10px;
    }
    .result__title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .result__text {
        font-size: 16px;
        margin-bottom: 15px;
    }
    img {

        width: 190px;
    }
    .result__btn {
        margin: 0 auto 15px;
    }
    
}

@media(max-width:575px) {
    .result__inner {
        width: 350px;
    }
    img {
        margin: 1px auto 5px;
    }
    .result__title {
        font-size: 23px;
        margin-bottom: 5px;
    }
    .result__text {
        font-size: 13px;
        margin-bottom: 10px;
    }
    img {

        width: 150px;
    }
    
    .result__btn {
        width: 260px;
        height: 40px;
        font-size: 22px;
        padding-top: 10px;
    }
    .result__btn {
        margin: 0 auto 10px;
    }
}

@media(max-width:400px) {
    .result__inner {
        width: 300px;
    }
     img {

        width: 140px;
    }
    .result__text {
        font-size: 11px;
    }

    .result__btn {
        width: 235px;
        height: 35px;
        font-size: 20px;
    }
}

@media(width:768px) and (height:1024px) {
    .result__inner{
        top: 30%;
    }

}

@media(width:1024px) and (height:1366px) {
    .result__inner{
        top: 25%;
    }

}